#articles-frm {
  .form-group {
    .mdi-plus-circle {
      font-size: 1.5rem;
      color: #277fd4;
      cursor: pointer;
    }
  }
  #articles-image {
    width: 100%;
    max-height: 350px;
    border: 1px solid #eee;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      max-height: 350px;
    }

    #articles-image-remove {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      z-index: 100;

      .mdi {
        font-size: 20px;
      }
    }
  }

  #editor {
    height: 900px;
    max-height: 900px;
  }

  #link-references {
    #link-references-group {
      .actions {
        .mdi {
          font-size: 1rem;
          color: #277fd4;
          cursor: pointer;
        }
      }
    }

    #link-references-input {
      resize: none;
      height: auto;
    }
  }
}
