.search-options {
  width: 150px !important;
  input[name='daterange'] {
    width: 175px !important;
  }
}

#show-columns-container {
  position: relative;
  .toggle-options-button {
    border: 1px solid #ddd;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #fff;
    cursor: pointer;

    .mdi {
      font-size: 1.25rem;
      color: #ccc;
    }
  }

  .toggle-options {
    &.show {
      display: block;
    }
    &.hidden {
      display: none;
    }
    .columns {
      position: absolute;
      top: 2.75rem;
      background-color: #fff;
      z-index: 1060;
      right: 0;
      border: 1px solid #ddd;
      box-shadow: 2px 2px #ccc;

      .body {
        li {
          cursor: pointer;
        }
      }
    }
  }
}

#data-table {
  table {
    tbody {
      tr {
        td {
          .article-tag {
            background-color: #2255a4 !important;
            border-color: #2255a4 !important;
            color: #fff !important;
            border: 1px solid #aaa;
            border-radius: 4px;
            box-sizing: border-box;
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
            padding: 0 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            white-space: nowrap;
          }

          .article-tag-searched {
            color: #fff !important;
            background-color: #b54120 !important;
            border-color: #aa3d1e !important;
          }
        }
      }
    }
  }

  .column-hidden {
    display: none;
  }
}
